# Task 1:1

In [5]:
# run the first program
a = "Testing First Program Demo."
a

'Testing First Program Demo.'

In [2]:
input("Please Enter your Full Name :")

Please Enter your Full Name :Yashraj Sharma

'Yashraj Sharma'

In [3]:
input("Please Enter you DOB as yyyy/mm/dd : ")

Please Enter you DOB as yyyy/mm/dd : 1995/11/23

'1995/11/23'

In [4]:
input("Please Enter you Email : ")

Please Enter you Email : yashXYZ@gmail.com

'yashXYZ@gmail.com'

# Task1:2

In [23]:
#numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). 
#The numbers obtained should be printed in a comma-separated sequence on a single line
a=2000
b=[]

while a<=3200:
    if a%7==0:
        if a%5!=0:
            b.append(a)
            a=a+7
        else:
            a=a+7
    else:
        a=a+1
print(b)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# Task 1:3

In [1]:
#m to accept the user's first and last name and then getting them printed in
#the the reverse order with a space between first name and last name
a=input("Please Enter Your First Name : ")
b=input("Please Enter Your Last Name : ")
a= a + ' ' + b
a=a[::-1]
a

Please Enter Your First Name : yash
Please Enter Your Last Name : raj

'jar hsay'

# Task 1:4

In [13]:
#find volume of sphere
dia=12
r=dia/2
pie=3.14
V=4/3*pie*r**3
V

904.3199999999999

# Task 2:1

In [21]:
#accepts a sequence of comma-separated numbers from console and
#generate a list
b=input("Please enter numbers separated by comma : ")
list(b)
c=[]
for i in b:
    if i!=",":
        c.append(i)
c

Please enter numbers separated by comma : 1,2,3,4,5

['1', '2', '3', '4', '5']

# Task 2:2

In [127]:
#pattern using nested for loop
rows = 9
for i in range(rows):
    if(i<5):
        for j in range(0,i+1):
                print('*',end=" ")
        print(" ")
    else:
        for k in range(rows-i,0,-1):
            print('*',end=" ")
        print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Task 2:3

In [128]:
#reverse a word after accepting the input from the user
a=input("Please enter any randowm word that you want to reverse :")
a=a[::-1]
a

Please enter any randowm word that you want to reverse :YashRaj

'jaRhsaY'

# Task 2:4

In [45]:
#To print the given string in the format specified in the sample output
a='WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens'

t=a.partition(" having")
b=str(t[0]) #We,
c=str(t[1])
c=c+str(t[2])

t=c.partition("SOCIALIST")
c=str(t[0])
d=str(t[1])
d=d+str(t[2])

t=d.partition("and to secure ")
d=str(t[0])
e=str(t[1])
e=e+str(t[2])
print(b+"\n\t"+c+"\n\t\t"+d+"\n\t\t"+e)

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens